.post-heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.timestamp {
  color: #bbb;
  font-size: 12px;
}

.post-body {
  color: #333;
  background-color: white;
  border-radius: 5px;
  padding: 8px;
  margin-top: 8px;
}
